<a href="https://colab.research.google.com/github/emilija88/Data-Visualization/blob/main/restaurants_india.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Прочитајте го csv документот: restaurants.csv
df=pd.read_csv("/content/drive/MyDrive/My Tracks/zomato_restaurants_in_India.csv")
df.to_csv("/content/drive/MyDrive/My Tracks/zomato_restaurants_in_India1.csv")
df1=pd.read_csv("/content/drive/MyDrive/My Tracks/zomato_restaurants_in_India1.csv")
df.to_csv("/content/drive/MyDrive/My Tracks/zomato_restaurants_in_India1.csv", index=False)
df2=pd.read_csv("/content/drive/MyDrive/My Tracks/zomato_restaurants_in_India1.csv")
df2

,res_id,name,establishment,url,address,city,city_id,locality,latitude,longitude,...,price_range,currency,highlights,aggregate_rating,rating_text,votes,photo_count,opentable_support,delivery,takeaway
0,3400299,Bikanervala,['Quick Bites'],https://www.zomato.com/agra/bikanervala-khanda...,"Kalyani Point, Near Tulsi Cinema, Bypass Road,...",Agra,34,Khandari,27.211450,78.002381,...,2,Rs.,"['Lunch', 'Takeaway Available', 'Credit Card',...",4.4,Very Good,814,154,0.0,-1,-1
1,3400005,Mama Chicken Mama Franky House,['Quick Bites'],https://www.zomato.com/agra/mama-chicken-mama-...,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra,34,Agra Cantt,27.160569,78.011583,...,2,Rs.,"['Delivery', 'No Alcohol Available', 'Dinner',...",4.4,Very Good,1203,161,0.0,-1,-1
2,3401013,Bhagat Halwai,['Quick Bites'],https://www.zomato.com/agra/bhagat-halwai-2-sh...,"62/1, Near Easy Day, West Shivaji Nagar, Goalp...",Agra,34,Shahganj,27.182938,77.979684,...,1,Rs.,"['No Alcohol Available', 'Dinner', 'Takeaway A...",4.2,Very Good,801,107,0.0,1,-1
3,3400290,Bhagat Halwai,['Quick Bites'],https://www.zomato.com/agra/bhagat-halwai-civi...,"Near Anjana Cinema, Nehru Nagar, Civil Lines, ...",Agra,34,Civil Lines,27.205668,78.004799,...,1,Rs.,"['Takeaway Available', 'Credit Card', 'Lunch',...",4.3,Very Good,693,157,0.0,1,-1
4,3401744,The Salt Cafe Kitchen & Bar,['Casual Dining'],https://www.zomato.com/agra/the-salt-cafe-kitc...,"1C,3rd Floor, Fatehabad Road, Tajganj, Agra",Agra,34,Tajganj,27.157709,78.052421,...,3,Rs.,"['Lunch', 'Serves Alcohol', 'Cash', 'Credit Ca...",4.9,Excellent,470,291,0.0,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211939,3202251,Kali Mirch Cafe And Restaurant,['Casual Dining'],https://www.zomato.com/vadodara/kali-mirch-caf...,"Manu Smriti Complex, Near Navrachna School, GI...",Vadodara,32,Fatehgunj,22.336931,73.192356,...,2,Rs.,"['Dinner', 'Cash', 'Lunch', 'Delivery', 'Indoo...",4.1,Very Good,243,40,0.0,-1,-1
211940,3200996,Raju Omlet,['Quick Bites'],https://www.zomato.com/vadodara/raju-omlet-kar...,"Mahalaxmi Apartment, Opposite B O B, Karoli Ba...",Vadodara,32,Karelibaug,22.322455,73.197203,...,1,Rs.,"['Dinner', 'Cash', 'Takeaway Available', 'Debi...",4.1,Very Good,187,40,0.0,1,-1
211941,18984164,The Grand Thakar,['Casual Dining'],https://www.zomato.com/vadodara/the-grand-thak...,"3rd Floor, Shreem Shalini Mall, Opposite Conqu...",Vadodara,32,Alkapuri,22.310563,73.171163,...,2,Rs.,"['Dinner', 'Cash', 'Debit Card', 'Lunch', 'Tak...",4.0,Very Good,111,38,0.0,-1,-1
211942,3201138,Subway,['Quick Bites'],https://www.zomato.com/vadodara/subway-1-akota...,"G-2, Vedant Platina, Near Cosmos, Akota, Vadodara",Vadodara,32,Akota,22.270027,73.143068,...,2,Rs.,"['Dinner', 'Delivery', 'Credit Card', 'Lunch',...",3.7,Good,128,34,0.0,1,-1
211943,18879846,Freshco's - The Health Cafe,['Café'],https://www.zomato.com/vadodara/freshcos-the-h...,"Shop 7, Ground Floor, Opposite Natubhai Circle...",Vadodara,32,Vadiwadi,22.309935,73.158768,...,2,Rs.,"['Dinner', 'Cash', 'Takeaway Available', 'Debi...",4.0,Very Good,93,53,0.0,1,-1

In [3]:
# Испринтајте ги последните 10 редови.
df2=df2.tail(10)
df2

,res_id,name,establishment,url,address,city,city_id,locality,latitude,longitude,...,price_range,currency,highlights,aggregate_rating,rating_text,votes,photo_count,opentable_support,delivery,takeaway
211934,3200763,Swad,['Quick Bites'],https://www.zomato.com/vadodara/swad-karelibau...,"G-3, Status Complex, Opposite Amrapali Complex...",Vadodara,32,Karelibaug,22.320823,73.199167,...,1,Rs.,"['Dinner', 'Takeaway Available', 'Delivery', '...",4.0,Very Good,365,9,0.0,-1,-1
211935,3201351,Mummys Pizza,['Casual Dining'],https://www.zomato.com/vadodara/mummys-pizza-d...,"Top Floor 323 - 327, Southwest Central Mall, D...",Vadodara,32,Diwalipura,22.280378,73.149108,...,2,Rs.,"['Dinner', 'Cash', 'Takeaway Available', 'Lunc...",4.3,Very Good,344,86,0.0,1,-1
211936,3202169,Red Dot Nation,['Casual Dining'],https://www.zomato.com/vadodara/red-dot-nation...,"Vinyak Heights, Beside Bharat Petrol Pump, Wag...",Vadodara,32,Suryanagar,22.281816,73.232252,...,2,Rs.,"['Cash', 'Delivery', 'Credit Card', 'Dinner', ...",3.6,Good,381,19,0.0,-1,-1
211937,18855810,Biryani aur Baatein,['Casual Dining'],https://www.zomato.com/vadodara/biryani-aur-ba...,"Shop 14, Atlantis K-10, A Wing, Genda Circle R...",Vadodara,32,Alkapuri,22.317746,73.168043,...,2,Rs.,"['Dinner', 'Cash', 'Takeaway Available', 'Debi...",4.1,Very Good,154,96,0.0,-1,-1
211938,18662583,Wok On Fire,['Casual Dining'],https://www.zomato.com/vadodara/wok-on-fire-fa...,"Ground Floor 1, Rossette Building, Opposite Se...",Vadodara,32,Fatehgunj,22.323357,73.187461,...,3,Rs.,"['Dinner', 'Cash', 'Debit Card', 'Lunch', 'Tak...",4.0,Very Good,301,126,0.0,1,-1
211939,3202251,Kali Mirch Cafe And Restaurant,['Casual Dining'],https://www.zomato.com/vadodara/kali-mirch-caf...,"Manu Smriti Complex, Near Navrachna School, GI...",Vadodara,32,Fatehgunj,22.336931,73.192356,...,2,Rs.,"['Dinner', 'Cash', 'Lunch', 'Delivery', 'Indoo...",4.1,Very Good,243,40,0.0,-1,-1
211940,3200996,Raju Omlet,['Quick Bites'],https://www.zomato.com/vadodara/raju-omlet-kar...,"Mahalaxmi Apartment, Opposite B O B, Karoli Ba...",Vadodara,32,Karelibaug,22.322455,73.197203,...,1,Rs.,"['Dinner', 'Cash', 'Takeaway Available', 'Debi...",4.1,Very Good,187,40,0.0,1,-1
211941,18984164,The Grand Thakar,['Casual Dining'],https://www.zomato.com/vadodara/the-grand-thak...,"3rd Floor, Shreem Shalini Mall, Opposite Conqu...",Vadodara,32,Alkapuri,22.310563,73.171163,...,2,Rs.,"['Dinner', 'Cash', 'Debit Card', 'Lunch', 'Tak...",4.0,Very Good,111,38,0.0,-1,-1
211942,3201138,Subway,['Quick Bites'],https://www.zomato.com/vadodara/subway-1-akota...,"G-2, Vedant Platina, Near Cosmos, Akota, Vadodara",Vadodara,32,Akota,22.270027,73.143068,...,2,Rs.,"['Dinner', 'Delivery', 'Credit Card', 'Lunch',...",3.7,Good,128,34,0.0,1,-1
211943,18879846,Freshco's - The Health Cafe,['Café'],https://www.zomato.com/vadodara/freshcos-the-h...,"Shop 7, Ground Floor, Opposite Natubhai Circle...",Vadodara,32,Vadiwadi,22.309935,73.158768,...,2,Rs.,"['Dinner', 'Cash', 'Takeaway Available', 'Debi...",4.0,Very Good,93,53,0.0,1,-1

In [4]:
# Извадете информации за секоја колона (колку null вредности има во секоја колона, колку колони има и слично).
df2=df2.info()
df2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 211934 to 211943
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   res_id                10 non-null     int64
 1   name                  10 non-null     object
 2   establishment         10 non-null     object
 3   url                   10 non-null     object
 4   address               10 non-null     object
 5   city                  10 non-null     object
 6   city_id               10 non-null     int64
 7   locality              10 non-null     object
 8   latitude              10 non-null     float64
 9   longitude             10 non-null     float64
 10  zipcode               2 non-null      object
 11  country_id            10 non-null     int64
 12  locality_verbose      10 non-null     object
 13  cuisines              10 non-null     object
 14  timings               10 non-null     object
 15  average_cost_for_two  10 non-null     int64
 16  price_range           10 non-null     int64
 17  currency              10 non-null     object
 18  highlights            10 non-null     object
 19  aggregate_rating      10 non-null     float64
 20  rating_text           10 non-null     object
 21  votes                 10 non-null     int64
 22  photo_count           10 non-null     int64
 23  opentable_support     10 non-null     float64
 24  delivery              10 non-null     int64
 25  takeaway              10 non-null     int64
dtypes: float64(4), int64(9), object(13)
memory usage: 2.2+ KB

In [5]:
# Испринтајте ги имињата на сите колони.
df.columns

Index(['res_id', 'name', 'establishment', 'url', 'address', 'city', 'city_id',
       'locality', 'latitude', 'longitude', 'zipcode', 'country_id',
       'locality_verbose', 'cuisines', 'timings', 'average_cost_for_two',
       'price_range', 'currency', 'highlights', 'aggregate_rating',
       'rating_text', 'votes', 'photo_count', 'opentable_support', 'delivery',
       'takeaway'],
      dtype='object')

In [6]:
# Пресметајте колку уникатни имиња на градови има во датасетот.
df['city'].unique().tolist()

['Agra',
 'Ahmedabad',
 'Gandhinagar',
 'Ajmer',
 'Alappuzha',
 'Allahabad',
 'Amravati',
 'Amritsar',
 'Aurangabad',
 'Bangalore',
 'Bhopal',
 'Bhubaneshwar',
 'Chandigarh',
 'Mohali',
 'Panchkula',
 'Zirakpur',
 'Nayagaon',
 'Chennai',
 'Coimbatore',
 'Cuttack',
 'Darjeeling',
 'Dehradun',
 'New Delhi',
 'Gurgaon',
 'Noida',
 'Faridabad',
 'Ghaziabad',
 'Greater Noida',
 'Dharamshala',
 'Gangtok',
 'Goa',
 'Gorakhpur',
 'Guntur',
 'Guwahati',
 'Gwalior',
 'Haridwar',
 'Hyderabad',
 'Secunderabad',
 'Indore',
 'Jabalpur',
 'Jaipur',
 'Jalandhar',
 'Jammu',
 'Jamnagar',
 'Jamshedpur',
 'Jhansi',
 'Jodhpur',
 'Junagadh',
 'Kanpur',
 'Kharagpur',
 'Kochi',
 'Kolhapur',
 'Kolkata',
 'Howrah',
 'Kota',
 'Lucknow',
 'Ludhiana',
 'Madurai',
 'Manali',
 'Mangalore',
 'Manipal',
 'Udupi',
 'Meerut',
 'Mumbai',
 'Thane',
 'Navi Mumbai',
 'Mussoorie',
 'Mysore',
 'Nagpur',
 'Nainital',
 'Nasik',
 'Nashik',
 'Neemrana',
 'Ooty',
 'Palakkad',
 'Patiala',
 'Patna',
 'Puducherry',
 'Pune',
 'Pushkar',
 'Raipur',
 'Rajkot',
 'Ranchi',
 'Rishikesh',
 'Salem',
 'Shimla',
 'Siliguri',
 'Srinagar',
 'Surat',
 'Thrissur',
 'Tirupati',
 'Trichy',
 'Trivandrum',
 'Udaipur',
 'Varanasi',
 'Vellore',
 'Vijayawada',
 'Vizag',
 'Vadodara']

In [7]:
# Вкупната бројка
df['city'].nunique()

99

In [8]:
# Листа од имињата на сите
df2=df['city'].unique()
df2
# for i in (df2):
#   lista = df[df['name']==i]
#   print(lista)

array(['Agra', 'Ahmedabad', 'Gandhinagar', 'Ajmer', 'Alappuzha',
       'Allahabad', 'Amravati', 'Amritsar', 'Aurangabad', 'Bangalore',
       'Bhopal', 'Bhubaneshwar', 'Chandigarh', 'Mohali', 'Panchkula',
       'Zirakpur', 'Nayagaon', 'Chennai', 'Coimbatore', 'Cuttack',
       'Darjeeling', 'Dehradun', 'New Delhi', 'Gurgaon', 'Noida',
       'Faridabad', 'Ghaziabad', 'Greater Noida', 'Dharamshala',
       'Gangtok', 'Goa', 'Gorakhpur', 'Guntur', 'Guwahati', 'Gwalior',
       'Haridwar', 'Hyderabad', 'Secunderabad', 'Indore', 'Jabalpur',
       'Jaipur', 'Jalandhar', 'Jammu', 'Jamnagar', 'Jamshedpur', 'Jhansi',
       'Jodhpur', 'Junagadh', 'Kanpur', 'Kharagpur', 'Kochi', 'Kolhapur',
       'Kolkata', 'Howrah', 'Kota', 'Lucknow', 'Ludhiana', 'Madurai',
       'Manali', 'Mangalore', 'Manipal', 'Udupi', 'Meerut', 'Mumbai',
       'Thane', 'Navi Mumbai', 'Mussoorie', 'Mysore', 'Nagpur',
       'Nainital', 'Nasik', 'Nashik', 'Neemrana', 'Ooty', 'Palakkad',
       'Patiala', 'Patna', 'Puducherry', 'Pune', 'Pushkar', 'Raipur',
       'Rajkot', 'Ranchi', 'Rishikesh', 'Salem', 'Shimla', 'Siliguri',
       'Srinagar', 'Surat', 'Thrissur', 'Tirupati', 'Trichy',
       'Trivandrum', 'Udaipur', 'Varanasi', 'Vellore', 'Vijayawada',
       'Vizag', 'Vadodara'], dtype=object)

In [9]:
# За секој град пресметајте колку ресторани има во него.
cities = df['city'].unique()
print(cities)
for city in cities:
  count = df[df['city']==city]['name'].nunique()
  print('There are', count,'restaurants in', city)

['Agra' 'Ahmedabad' 'Gandhinagar' 'Ajmer' 'Alappuzha' 'Allahabad'
 'Amravati' 'Amritsar' 'Aurangabad' 'Bangalore' 'Bhopal' 'Bhubaneshwar'
 'Chandigarh' 'Mohali' 'Panchkula' 'Zirakpur' 'Nayagaon' 'Chennai'
 'Coimbatore' 'Cuttack' 'Darjeeling' 'Dehradun' 'New Delhi' 'Gurgaon'
 'Noida' 'Faridabad' 'Ghaziabad' 'Greater Noida' 'Dharamshala' 'Gangtok'
 'Goa' 'Gorakhpur' 'Guntur' 'Guwahati' 'Gwalior' 'Haridwar' 'Hyderabad'
 'Secunderabad' 'Indore' 'Jabalpur' 'Jaipur' 'Jalandhar' 'Jammu'
 'Jamnagar' 'Jamshedpur' 'Jhansi' 'Jodhpur' 'Junagadh' 'Kanpur'
 'Kharagpur' 'Kochi' 'Kolhapur' 'Kolkata' 'Howrah' 'Kota' 'Lucknow'
 'Ludhiana' 'Madurai' 'Manali' 'Mangalore' 'Manipal' 'Udupi' 'Meerut'
 'Mumbai' 'Thane' 'Navi Mumbai' 'Mussoorie' 'Mysore' 'Nagpur' 'Nainital'
 'Nasik' 'Nashik' 'Neemrana' 'Ooty' 'Palakkad' 'Patiala' 'Patna'
 'Puducherry' 'Pune' 'Pushkar' 'Raipur' 'Rajkot' 'Ranchi' 'Rishikesh'
 'Salem' 'Shimla' 'Siliguri' 'Srinagar' 'Surat' 'Thrissur' 'Tirupati'
 'Trichy' 'Trivandrum' 'Udaipur' 'Varanasi' 'Vellore' 'Vijayawada' 'Vizag'
 'Vadodara']
There are 758 restaurants in Agra
There are 966 restaurants in Ahmedabad
There are 92 restaurants in Gandhinagar
There are 383 restaurants in Ajmer
There are 239 restaurants in Alappuzha
There are 521 restaurants in Allahabad
There are 373 restaurants in Amravati
There are 586 restaurants in Amritsar
There are 617 restaurants in Aurangabad
There are 1504 restaurants in Bangalore
There are 764 restaurants in Bhopal
There are 649 restaurants in Bhubaneshwar
There are 561 restaurants in Chandigarh
There are 282 restaurants in Mohali
There are 156 restaurants in Panchkula
There are 140 restaurants in Zirakpur
There are 15 restaurants in Nayagaon
There are 1271 restaurants in Chennai
There are 752 restaurants in Coimbatore
There are 261 restaurants in Cuttack
There are 108 restaurants in Darjeeling
There are 704 restaurants in Dehradun
There are 1271 restaurants in New Delhi
There are 470 restaurants in Gurgaon
There are 219 restaurants in Noida
There are 68 restaurants in Faridabad
There are 74 restaurants in Ghaziabad
There are 20 restaurants in Greater Noida
There are 235 restaurants in Dharamshala
There are 126 restaurants in Gangtok
There are 1000 restaurants in Goa
There are 449 restaurants in Gorakhpur
There are 251 restaurants in Guntur
There are 624 restaurants in Guwahati
There are 523 restaurants in Gwalior
There are 334 restaurants in Haridwar
There are 670 restaurants in Hyderabad
There are 82 restaurants in Secunderabad
There are 878 restaurants in Indore
There are 484 restaurants in Jabalpur
There are 1198 restaurants in Jaipur
There are 547 restaurants in Jalandhar
There are 446 restaurants in Jammu
There are 365 restaurants in Jamnagar
There are 522 restaurants in Jamshedpur
There are 325 restaurants in Jhansi
There are 673 restaurants in Jodhpur
There are 179 restaurants in Junagadh
There are 688 restaurants in Kanpur
There are 81 restaurants in Kharagpur
There are 721 restaurants in Kochi
There are 515 restaurants in Kolhapur
There are 986 restaurants in Kolkata
There are 49 restaurants in Howrah
There are 543 restaurants in Kota
There are 940 restaurants in Lucknow
There are 848 restaurants in Ludhiana
There are 440 restaurants in Madurai
There are 178 restaurants in Manali
There are 495 restaurants in Mangalore
There are 140 restaurants in Manipal
There are 59 restaurants in Udupi
There are 502 restaurants in Meerut
There are 1474 restaurants in Mumbai
There are 218 restaurants in Thane
There are 177 restaurants in Navi Mumbai
There are 162 restaurants in Mussoorie
There are 468 restaurants in Mysore
There are 928 restaurants in Nagpur
There are 208 restaurants in Nainital
There are 78 restaurants in Nasik
There are 576 restaurants in Nashik
There are 26 restaurants in Neemrana
There are 242 restaurants in Ooty
There are 144 restaurants in Palakkad
There are 432 restaurants in Patiala
There are 572 restaurants in Patna
There are 523 restaurants in Puducherry
There are 1462 restaurants in Pune
There are 162 restaurants in Pushkar
There are 687 restaurants in Raipur
There are 483 restaurants in Rajkot
There are 613 restaurants in Ranchi
There are 237 restaurants in Rishikesh
There are 305 restaurants in Salem
There are 201 restaurants in Shimla
There are 416 restaurants in Siliguri
There are 123 restaurants in Srinagar
There are 731 restaurants in Surat
There are 324 restaurants in Thrissur
There are 216 restaurants in Tirupati
There are 409 restaurants in Trichy
There are 514 restaurants in Trivandrum
There are 720 restaurants in Udaipur
There are 546 restaurants in Varanasi
There are 270 restaurants in Vellore
There are 413 restaurants in Vijayawada
There are 601 restaurants in Vizag
There are 754 restaurants in Vadodara

In [10]:
# Кој ресторан има најмал број на нарачки во секој град?

unique_cities = df['city'].unique().tolist()

for c in unique_cities:
    restaurant = df[df['city'] == c]['name'].value_counts(ascending = True).index[0]
    print('The restaurant with the least amount of orders in', c, "is", restaurant)

The restaurant with the least amount of orders in Agra is Fitoor
The restaurant with the least amount of orders in Ahmedabad is Aman fry centre
The restaurant with the least amount of orders in Gandhinagar is A1 Punjabi Chinese
The restaurant with the least amount of orders in Ajmer is Bhavani Fast food And Restaurant
The restaurant with the least amount of orders in Alappuzha is Beema's Sweets
The restaurant with the least amount of orders in Allahabad is Brunch & Munch
The restaurant with the least amount of orders in Amravati is Baba Fast Food and Restaurant
The restaurant with the least amount of orders in Amritsar is Deep Pizzeria
The restaurant with the least amount of orders in Aurangabad is Sahara Hotel
The restaurant with the least amount of orders in Bangalore is Choi Choi Momos
The restaurant with the least amount of orders in Bhopal is The Barni House
The restaurant with the least amount of orders in Bhubaneshwar is Madhuban Restaurant
The restaurant with the least amount of orders in Chandigarh is Doaba Sweets
The restaurant with the least amount of orders in Mohali is SkyBites
The restaurant with the least amount of orders in Panchkula is New Nand Sweets
The restaurant with the least amount of orders in Zirakpur is Haldiram's
The restaurant with the least amount of orders in Nayagaon is Sharma Indian Food   Pure Veg
The restaurant with the least amount of orders in Chennai is Hotel Sennthur
The restaurant with the least amount of orders in Coimbatore is Classic Pizza & Burger
The restaurant with the least amount of orders in Cuttack is Makhans
The restaurant with the least amount of orders in Darjeeling is Wild Orchid
The restaurant with the least amount of orders in Dehradun is Sip of Doon
The restaurant with the least amount of orders in New Delhi is The Roxy Club
The restaurant with the least amount of orders in Gurgaon is Brewer Street
The restaurant with the least amount of orders in Noida is Rajwana Foods
The restaurant with the least amount of orders in Faridabad is Keventers
The restaurant with the least amount of orders in Ghaziabad is Just Chinese
The restaurant with the least amount of orders in Greater Noida is Double A's
The restaurant with the least amount of orders in Dharamshala is Hotel Gk Conifer
The restaurant with the least amount of orders in Gangtok is D3 Ale House
The restaurant with the least amount of orders in Goa is Coco's
The restaurant with the least amount of orders in Gorakhpur is Yadav Dosa Bhandar
The restaurant with the least amount of orders in Guntur is Frozen Bottle
The restaurant with the least amount of orders in Guwahati is Da Vue
The restaurant with the least amount of orders in Gwalior is Hotel Mascot
The restaurant with the least amount of orders in Haridwar is Mom's kitchen
The restaurant with the least amount of orders in Hyderabad is Gol Bungalow - Taj Falaknuma Palace
The restaurant with the least amount of orders in Secunderabad is Blue Sea Tea & Snacks
The restaurant with the least amount of orders in Indore is Neelkanth Restaurant
The restaurant with the least amount of orders in Jabalpur is Sai Chinese & Momos
The restaurant with the least amount of orders in Jaipur is Ice Cream Works
The restaurant with the least amount of orders in Jalandhar is Singh Corner
The restaurant with the least amount of orders in Jammu is Amritsari Di Hatti
The restaurant with the least amount of orders in Jamnagar is Ashapura Fast Food
The restaurant with the least amount of orders in Jamshedpur is Dhadoom
The restaurant with the least amount of orders in Jhansi is Grab N Go
The restaurant with the least amount of orders in Jodhpur is 15 AD
The restaurant with the least amount of orders in Junagadh is Hotel Bholenath
The restaurant with the least amount of orders in Kanpur is Motu Patlu Ka Dhaba
The restaurant with the least amount of orders in Kharagpur is Test
The restaurant with the least amount of orders in Kochi is Palaaram Traditions
The restaurant with the least amount of orders in Kolhapur is BBQ Ride India
The restaurant with the least amount of orders in Kolkata is Cafe Valentino
The restaurant with the least amount of orders in Howrah is Pizzicone
The restaurant with the least amount of orders in Kota is Night Fox Restaurant
The restaurant with the least amount of orders in Lucknow is Khatirdari Express
The restaurant with the least amount of orders in Ludhiana is Bikaner Sweets
The restaurant with the least amount of orders in Madurai is Chappathi Corner
The restaurant with the least amount of orders in Manali is AMIGOS GERMAN BAKERY
The restaurant with the least amount of orders in Mangalore is Nisarga
The restaurant with the least amount of orders in Manipal is Hangyo's
The restaurant with the least amount of orders in Udupi is Fish & Fries
The restaurant with the least amount of orders in Meerut is Shiv Chaat Bhandar
The restaurant with the least amount of orders in Mumbai is Rasoi Thali
The restaurant with the least amount of orders in Thane is Burrito Factory
The restaurant with the least amount of orders in Navi Mumbai is Cheelizza - India Ka Pizza
The restaurant with the least amount of orders in Mussoorie is The Eatery
The restaurant with the least amount of orders in Mysore is Pataka- Mannar's
The restaurant with the least amount of orders in Nagpur is Suresh Saoji Restaurant
The restaurant with the least amount of orders in Nainital is Chaudhary Restaurant And Cafe
The restaurant with the least amount of orders in Nasik is Hotel Kashish Palace
The restaurant with the least amount of orders in Nashik is The Royal Kitchen
The restaurant with the least amount of orders in Neemrana is Gangaur Midway
The restaurant with the least amount of orders in Ooty is Royal Cafe
The restaurant with the least amount of orders in Palakkad is Partvaty's Ootupura Restaurant
The restaurant with the least amount of orders in Patiala is Neeraj Chat Bhandar
The restaurant with the least amount of orders in Patna is T20 FOOD
The restaurant with the least amount of orders in Puducherry is La Maison Tamoule
The restaurant with the least amount of orders in Pune is Lion's Dhaaba
The restaurant with the least amount of orders in Pushkar is Fresh Bakery
The restaurant with the least amount of orders in Raipur is The Kitchen
The restaurant with the least amount of orders in Rajkot is Shree ram dairy farm
The restaurant with the least amount of orders in Ranchi is Biryaneez
The restaurant with the least amount of orders in Rishikesh is Bhandari kitchen
The restaurant with the least amount of orders in Salem is Mr.Fast Food
The restaurant with the least amount of orders in Shimla is Sardar Ji Dhaba
The restaurant with the least amount of orders in Siliguri is Ramakrishna Sweets
The restaurant with the least amount of orders in Srinagar is Zubair Bakery
The restaurant with the least amount of orders in Surat is Hotel Excellency
The restaurant with the least amount of orders in Thrissur is Hotel Peninsula
The restaurant with the least amount of orders in Tirupati is Nandini Bakery & Sweets - R.C Road
The restaurant with the least amount of orders in Trichy is The Hotel Radha
The restaurant with the least amount of orders in Trivandrum is Hotel Sharma Punjabi Dhaba
The restaurant with the least amount of orders in Udaipur is Rex Cool Cafe Restaurant
The restaurant with the least amount of orders in Varanasi is Apex
The restaurant with the least amount of orders in Vellore is Om Sakthi Amma Biriyani
The restaurant with the least amount of orders in Vijayawada is Hodzaa
The restaurant with the least amount of orders in Vizag is SVK Alpha
The restaurant with the least amount of orders in Vadodara is Zaafran

In [11]:
# Пресметајте ги рестораните со највисоки оценки.
# Hint: користете max() за да ја пронајдете највисоката оценка

df[df['aggregate_rating'] == df['aggregate_rating'].max()]

,res_id,name,establishment,url,address,city,city_id,locality,latitude,longitude,...,price_range,currency,highlights,aggregate_rating,rating_text,votes,photo_count,opentable_support,delivery,takeaway
4,3401744,The Salt Cafe Kitchen & Bar,['Casual Dining'],https://www.zomato.com/agra/the-salt-cafe-kitc...,"1C,3rd Floor, Fatehabad Road, Tajganj, Agra",Agra,34,Tajganj,27.157709,78.052421,...,3,Rs.,"['Lunch', 'Serves Alcohol', 'Cash', 'Credit Ca...",4.9,Excellent,470,291,0.0,1,-1
186,3401744,The Salt Cafe Kitchen & Bar,['Casual Dining'],https://www.zomato.com/agra/the-salt-cafe-kitc...,"1C,3rd Floor, Fatehabad Road, Tajganj, Agra",Agra,34,Tajganj,27.157709,78.052421,...,3,Rs.,"['Lunch', 'Serves Alcohol', 'Cash', 'Credit Ca...",4.9,Excellent,470,291,0.0,1,-1
300,3401744,The Salt Cafe Kitchen & Bar,['Casual Dining'],https://www.zomato.com/agra/the-salt-cafe-kitc...,"1C,3rd Floor, Fatehabad Road, Tajganj, Agra",Agra,34,Tajganj,27.157709,78.052421,...,3,Rs.,"['Lunch', 'Serves Alcohol', 'Cash', 'Credit Ca...",4.9,Excellent,470,291,0.0,-1,-1
600,3401744,The Salt Cafe Kitchen & Bar,['Casual Dining'],https://www.zomato.com/agra/the-salt-cafe-kitc...,"1C,3rd Floor, Fatehabad Road, Tajganj, Agra",Agra,34,Tajganj,27.157709,78.052421,...,3,Rs.,"['Lunch', 'Serves Alcohol', 'Cash', 'Credit Ca...",4.9,Excellent,470,291,0.0,-1,-1
813,3401744,The Salt Cafe Kitchen & Bar,['Casual Dining'],https://www.zomato.com/agra/the-salt-cafe-kitc...,"1C,3rd Floor, Fatehabad Road, Tajganj, Agra",Agra,34,Tajganj,27.157709,78.052421,...,3,Rs.,"['Lunch', 'Serves Alcohol', 'Cash', 'Credit Ca...",4.9,Excellent,470,291,0.0,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211527,3201907,Indish Lounge,['Fine Dining'],https://www.zomato.com/vadodara/indish-lounge-...,"406/407, Samnvay Zillion, Before Zydex House, ...",Vadodara,32,Gotri,22.317809,73.125822,...,3,Rs.,"['Takeaway Available', 'Debit Card', 'Lunch', ...",4.9,Excellent,691,828,0.0,-1,-1
211627,3201907,Indish Lounge,['Fine Dining'],https://www.zomato.com/vadodara/indish-lounge-...,"406/407, Samnvay Zillion, Before Zydex House, ...",Vadodara,32,Gotri,22.317809,73.125822,...,3,Rs.,"['Takeaway Available', 'Debit Card', 'Lunch', ...",4.9,Excellent,691,828,0.0,-1,-1
211871,3201907,Indish Lounge,['Fine Dining'],https://www.zomato.com/vadodara/indish-lounge-...,"406/407, Samnvay Zillion, Before Zydex House, ...",Vadodara,32,Gotri,22.317809,73.125822,...,3,Rs.,"['Takeaway Available', 'Debit Card', 'Lunch', ...",4.9,Excellent,691,828,0.0,-1,-1
211890,3201907,Indish Lounge,['Fine Dining'],https://www.zomato.com/vadodara/indish-lounge-...,"406/407, Samnvay Zillion, Before Zydex House, ...",Vadodara,32,Gotri,22.317809,73.125822,...,3,Rs.,"['Takeaway Available', 'Debit Card', 'Lunch', ...",4.9,Excellent,691,828,0.0,-1,-1
211894,3201907,Indish Lounge,['Fine Dining'],https://www.zomato.com/vadodara/indish-lounge-...,"406/407, Samnvay Zillion, Before Zydex House, ...",Vadodara,32,Gotri,22.317809,73.125822,...,3,Rs.,"['Takeaway Available', 'Debit Card', 'Lunch', ...",4.9,Excellent,691,828,0.0,-1,-1

In [12]:
# Колку ресторани имаат оценка повисока од 4?

df[df['aggregate_rating']>4]['name'].nunique()

6945

In [13]:
# Пресметајте ја секоја можност за rating_test колку пати се повторува.
df['rating_text'].value_counts()

Very Good        65451
Good             63384
Average          42157
Not rated        23478
Excellent        15737
Poor              1175
Çok iyi             56
Sangat Baik         44
Muito Bom           44
Excelente           42
Muy Bueno           35
Bardzo dobrze       31
Bom                 26
Skvělé              25
Baik                24
Velmi dobré         22
Harika              22
İyi                 19
Ottimo              18
Veľmi dobré         17
Terbaik             16
Buono               14
Skvělá volba        13
Dobré               12
Bueno               11
Dobrze               9
Wybitnie             8
Eccellente           8
Vynikajúce           7
Průměr               6
Muito bom            6
Média                5
Promedio             5
Scarso               3
Ortalama             3
Średnio              3
Priemer              3
Media                3
Biasa                2
Name: rating_text, dtype: int64

In [14]:
#Извадете ги најглемиот број на гласови
najgolem_broj_na_glasovi = df['votes'].max()
df[df['votes']==najgolem_broj_na_glasovi]

,res_id,name,establishment,url,address,city,city_id,locality,latitude,longitude,...,price_range,currency,highlights,aggregate_rating,rating_text,votes,photo_count,opentable_support,delivery,takeaway
77763,90896,Bawarchi,['Casual Dining'],https://www.zomato.com/hyderabad/bawarchi-nall...,"Plot 44, RTC Cross Road, Opposite Sandhya Thea...",Hyderabad,6,Nallakunta,17.405883,78.498838,...,2,Rs.,"['Lunch', 'Delivery', 'Credit Card', 'Dinner',...",4.5,Excellent,42539,858,0.0,1,-1
78024,90896,Bawarchi,['Casual Dining'],https://www.zomato.com/hyderabad/bawarchi-nall...,"Plot 44, RTC Cross Road, Opposite Sandhya Thea...",Hyderabad,6,Nallakunta,17.405883,78.498838,...,2,Rs.,"['Lunch', 'Delivery', 'Credit Card', 'Dinner',...",4.5,Excellent,42539,858,0.0,1,-1
78324,90896,Bawarchi,['Casual Dining'],https://www.zomato.com/hyderabad/bawarchi-nall...,"Plot 44, RTC Cross Road, Opposite Sandhya Thea...",Hyderabad,6,Nallakunta,17.405883,78.498838,...,2,Rs.,"['Lunch', 'Delivery', 'Credit Card', 'Dinner',...",4.5,Excellent,42539,858,0.0,-1,-1
78423,90896,Bawarchi,['Casual Dining'],https://www.zomato.com/hyderabad/bawarchi-nall...,"Plot 44, RTC Cross Road, Opposite Sandhya Thea...",Hyderabad,6,Nallakunta,17.405883,78.498838,...,2,Rs.,"['Lunch', 'Delivery', 'Credit Card', 'Dinner',...",4.5,Excellent,42539,858,0.0,1,-1
78524,90896,Bawarchi,['Casual Dining'],https://www.zomato.com/hyderabad/bawarchi-nall...,"Plot 44, RTC Cross Road, Opposite Sandhya Thea...",Hyderabad,6,Nallakunta,17.405883,78.498838,...,2,Rs.,"['Lunch', 'Delivery', 'Credit Card', 'Dinner',...",4.5,Excellent,42539,858,0.0,1,-1
78724,90896,Bawarchi,['Casual Dining'],https://www.zomato.com/hyderabad/bawarchi-nall...,"Plot 44, RTC Cross Road, Opposite Sandhya Thea...",Hyderabad,6,Nallakunta,17.405883,78.498838,...,2,Rs.,"['Lunch', 'Delivery', 'Credit Card', 'Dinner',...",4.5,Excellent,42539,858,0.0,1,-1
79024,90896,Bawarchi,['Casual Dining'],https://www.zomato.com/hyderabad/bawarchi-nall...,"Plot 44, RTC Cross Road, Opposite Sandhya Thea...",Hyderabad,6,Nallakunta,17.405883,78.498838,...,2,Rs.,"['Lunch', 'Delivery', 'Credit Card', 'Dinner',...",4.5,Excellent,42539,858,0.0,1,-1
79124,90896,Bawarchi,['Casual Dining'],https://www.zomato.com/hyderabad/bawarchi-nall...,"Plot 44, RTC Cross Road, Opposite Sandhya Thea...",Hyderabad,6,Nallakunta,17.405883,78.498838,...,2,Rs.,"['Lunch', 'Delivery', 'Credit Card', 'Dinner',...",4.5,Excellent,42539,858,0.0,1,-1
79224,90896,Bawarchi,['Casual Dining'],https://www.zomato.com/hyderabad/bawarchi-nall...,"Plot 44, RTC Cross Road, Opposite Sandhya Thea...",Hyderabad,6,Nallakunta,17.405883,78.498838,...,2,Rs.,"['Lunch', 'Delivery', 'Credit Card', 'Dinner',...",4.5,Excellent,42539,858,0.0,1,-1
79324,90896,Bawarchi,['Casual Dining'],https://www.zomato.com/hyderabad/bawarchi-nall...,"Plot 44, RTC Cross Road, Opposite Sandhya Thea...",Hyderabad,6,Nallakunta,17.405883,78.498838,...,2,Rs.,"['Lunch', 'Delivery', 'Credit Card', 'Dinner',...",4.5,Excellent,42539,858,0.0,-1,-1
79424,90896,Bawarchi,['Casual Dining'],https://www.zomato.com/hyderabad/bawarchi-nall...,"Plot 44, RTC Cross Road, Opposite Sandhya Thea...",Hyderabad,6,Nallakunta,17.405883,78.498838,...,2,Rs.,"['Lunch', 'Delivery', 'Credit Card', 'Dinner',...",4.5,Excellent,42539,858,0.0,1,-1
79524,90896,Bawarchi,['Casual Dining'],https://www.zomato.com/hyderabad/bawarchi-nall...,"Plot 44, RTC Cross Road, Opposite Sandhya Thea...",Hyderabad,6,Nallakunta,17.405883,78.498838,...,2,Rs.,"['Lunch', 'Delivery', 'Credit Card', 'Dinner',...",4.5,Excellent,42539,858,0.0,1,-1

In [15]:
#Кој е најчесто посетен ресторан
df['name'].value_counts().index[0]

"Domino's Pizza"

In [16]:
#Koj grad ima najmnogu naracki
df['city'].value_counts().index[0]

'Chennai'